global
    log /dev/log    local0
    log /dev/log    local1 notice
    maxconn 2000
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

#------------------------------------------------------------------
# APPROCHE 1 — PROXMOX (Round Robin)
# Décommenter ce bloc et commenter le bloc Approche 2 si besoin
#------------------------------------------------------------------
# frontend http_front
#     bind *:80
#     default_backend flask_servers
#
# backend flask_servers
#     balance roundrobin
#     option httpchk GET /
#     server flask1 10.147.17.x:5000 check
#     server flask2 10.197.13.72:5000 check

#------------------------------------------------------------------
# APPROCHE 2 — VMWARE LOCAL (Least Connections)
#------------------------------------------------------------------
frontend http_front
    bind *:80
    default_backend flask_servers

backend flask_servers
    balance leastconn
    option httpchk GET /
    server web1 192.168.220.132:8080 check
    server web2 192.168.220.133:8080 check
    # web3 ajouté automatiquement par autoscale.sh en cas de surcharge :
    # server web3 192.168.220.134:8080 check
